<div class="sharebuttons">
        <ul>
          <li class="reddit">
            <a href="https://www.linkedin.com"" | uri_escape }}" target="_blank">
              {% include social/linkedin.svg %}
            </a>
          </li>
          <li class="hn">
            <a href="https://github.com/yashmulki" | uri_escape}}" target="_blank">
              {% include social/github.svg %}
            </a>
          </li>
          <li class="twitter">
            <a href="https://twitter.com/ysmulki?lang=en" | uri_escape}}" target="_blank">
              {% include social/twitter.svg %}
            </a>
          </li>
          <li class="linkedin">
            <a href="https://www.youtube.com/channel/UCBCX8ZsRcRlHroLgnKUYqew"" | uri_escape}}" target="_blank">
              {% include social/youtube.svg%}
            </a>
          </li>
        </ul>
      </div>